<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Madde Ekle</div>
    <div class="modal-body" style="margin: 5%;">
        
     <md-content class="md-no-momentum">
        <md-input-container class="md-icon-float md-block">
          <label>Maddeyi Giriniz</label>
          <input ng-model="newItemName" type="text" required>
        </md-input-container>
    
        <md-input-container md-no-float class="md-block">
          <md-datepicker ng-model="newItemDueDate" md-placeholder="Bitiş Tarihi"></md-datepicker>
        </md-input-container>
    </md-content>
    
    <md-input-container md-no-float class="md-block">
            <Label>Saat</Label>
            <input type="time" ng-model="newItemSaat"
           placeholder="HH:mm:ss" />
        </md-input-container>
    
    
    <div>
       <button type="button" class="btn btn-primary btn"  style="float: right;" ng-click="saveNewList()">
            <span class="glyphicon glyphicon-floppy-disk"></span> Kaydet
        </button>
       <button type="button" class="btn btn-danger btn"  style="float: right;" ng-click="abortNewItem()">
            <span class="glyphicon glyphicon-remove"></span> İptal
        </button>
    </div>
</div>
</div>