<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Madde Sil</div>
    <div class="modal-body">
        {{ deleteItemName }} adlı maddeyi tamamen silmek istiyor musunuz? Bu işlem geri alınamaz. 
    </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default" ng-click="abortDeleteItem()"> Hayır
      </button>
        <button type="button" class="btn btn-danger" ng-click="deleteItemCertain()"> Sil
      </button>
    </div>
</div>