<div class="modal-dialog">
    
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Liste Sil</div>
    <div class="modal-body">
        {{ deleteListName }} adlı listeyi tamamen silmek istiyor musunuz? Bu işlemle beraber bütün liste elemanları da silinecektir. 
    </div>
    <div class="modal-footer">
         <button type="button" class="btn btn-default " ng-click="abortDeleteList()"> Hayır
      </button>
        <button type="button" class="btn btn-danger" ng-click="deleteListCertain()"> Sil
      </button>
    </div>
</div>