<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Madde Düzenle</div>
    <div class="modal-body">
        
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <label>Madde Adı</label>
              <input ng-model="editItemName" type="text" required>
            </md-input-container>
        </md-content>
        
        <md-content class="md-no-momentum">
            <label>Madde Durumu</label>
            <md-switch ng-model="editItemStatus" ng-true-value="true" ng-false-value="false" >
            <div ng-if="editItemStatus == false"> Yapılmadı </div>
            <div ng-if="editItemStatus == true"> Yapıldı </div>
          </md-switch>
        </md-content>
        
        
        <md-input-container md-no-float class="md-block">
          <md-datepicker ng-model="editItemDate" md-placeholder="Bitiş Tarihi"></md-datepicker>
        </md-input-container>
        
        <md-input-container md-no-float class="md-block">
            <Label>Saat</Label>
            <input type="time" ng-model="editItemSaat"
           placeholder="HH:mm:ss" />
        </md-input-container>
        
        
        <div>
           <button type="button" class="btn btn-primary btn"  style="float: right;" ng-click="saveEditedItem()">
                <span class="glyphicon glyphicon-floppy-disk"></span> Kaydet
            </button>
           <button type="button" class="btn btn-danger btn"  style="float: right;" ng-click="abortEditItem()">
                <span class="glyphicon glyphicon-remove"></span> İptal
            </button>
        </div>
</div>