<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Liste Düzenle</div>
    <div class="modal-body" style="margin: 5%;">
        
         <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <label>Liste Adı</label>
              <input ng-model="editListName" type="text" required>
            </md-input-container>
        </md-content>
        <div>
           <button type="button" class="btn btn-primary btn"  style="float: right;" ng-click="saveEditedList()">
                <span class="glyphicon glyphicon-floppy-disk"></span> Kaydet
            </button>
           <button type="button" class="btn btn-danger btn"  style="float: right;" ng-click="abortEditList()">
                <span class="glyphicon glyphicon-remove"></span> İptal
            </button>
        </div>
</div>
</div>