<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Madde Durmunu Değiştir
    </div>
    
    <div class="modal-body">
        <md-content class="md-no-momentum">
            <label>Madde Durumu</label>
            <md-switch ng-model="editItemStatus" ng-true-value="true" ng-false-value="false" >
            <div ng-if="editItemStatus == false"> Yapılmadı </div>
            <div ng-if="editItemStatus == true"> Yapıldı </div>
          </md-switch>
        </md-content>
    </div>
   
</div>