<div ng-controlle="loginController" style="margin:25%; margin-top:20%;border-style: solid; border-color: black; background-color: #e6ffff;border-width: 1px;">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)"style="margin:5%;" novalidate> 
            <div class="row">
            <md-input-container>
              <label>Kullanıcı Adı</label>
              <input type="text" ng-model="username" required>
            </md-input-container>
            <md-input-container>
              <label>Şifre</label>
              <input type="password" ng-model="password" required>
            </md-input-container>
            </div>
    
            <div class="row">
               <button type="button" class="btn btn-default btn" ng-click="logIn()">
                <span class="glyphicon glyphicon-log-in"></span> Giriş Yap
              </button>
              <button type="button" class="btn btn-default btn" ng-click="signUp()">
                <span class="glyphicon glyphicon-floppy-disk"></span> Kaydol
              </button>
            </div>
            <div class="row" style="color: red;" ng-if="hataMesajiGoster == true">
                Giriş Başarısız
            </div>
        </form>
</div>