 <div ng-controller="mainController">
 <div class="row">
        <div class="col-md-4">
            Hi, {{ firstName + ' ' }}
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <button type="button" class="btn btn-default" ng-click="openNotifications(event)">
            <span class="glyphicon glyphicon-bell"></span> Notifications
          </button>
          <button type="button" class="btn btn-default" ng-click="openSettings(event)">
            <span class="glyphicon glyphicon-cog"></span> Settings 
          </button>
          <!--<a href="" class="btn btn-default btn" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Settings </a>
          <ul class="dropdown-menu">
            <li>1</li>
            <li>2</li>
          </ul>-->
          <button type="button" class="btn btn-default btn" ng-click="logOut()">
          <span class="	glyphicon glyphicon-log-out"></span> Log Out 
        </button>
        </div>
     </div>
      
      <div class="row">
        <div class="col-md-5 text-center"  style="background-color: #E9E9E9;">
          <md-list>
            <md-subheader>Listelerim 
              <ng-md-icon icon="add_circle" style="fill: blue" size="18" ng-click="addNewList($event)"></ng-md-icon>
            </md-subheader>
            <md-list-item ng-repeat="qwe in lists">
              <div class="row">
               <!-- <div class="col-md-1" ng-if="qwe.status == 'true'">
                  <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div class="col-md-1" ng-if="qwe.status == 'false'">
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="col-md-1" ng-if="qwe.status == 'continue'">
                  <span class="glyphicon glyphicon-refresh"></span>
                </div>!-->
                <div class="col-md-8" ng-click="secilenList($index)">
                  {{qwe.title}}
                </div>
                <div class="col-md-4" style="float: right;">
                  
                  <section layout="row" layout-align="right right">
                    <button type="button" class="btn btn-default" ng-click="editSelectedList($event, $index)">
                      <ng-md-icon icon="edit" style="fill: black" size="18"></ng-md-icon>
                    </button>
                   <button type="button" class="btn btn-default" ng-click="deleteList($event, $index)"><ng-md-icon icon="delete" style="fill: red" size="18" ></ng-md-icon> 
                    </button>
                  </section>
                </div>
                <md-divider></md-divider>
              </div>
            </md-list-item>
            
          </md-list>
        </div>
        
        <div class="col-md-7 text-center"  style="background-color: #E9E9E9;">
          <md-list>
            <md-subheader>Yapılacak Maddeler
               <ng-md-icon icon="add_circle" style="fill: blue" size="18" ng-click="addNewItem($event)"></ng-md-icon>
            </md-subheader>
            <md-list-item ng-repeat="asd in items">
              <div class="row">
                 <div class="col-md-1" ng-if="asd.done == true">
                  <span class="glyphicon glyphicon-ok"></span>
                </div>
                <div class="col-md-1" ng-if="asd.done == false">
                  <span class="glyphicon glyphicon-remove"></span>
                </div>
                <div class="col-md-6">
                  {{asd.name}}
                </div>
                <div class="col-md-5" style="float:right;">
                  <section layout="row" layout-align="right right">
                    <button type="button" class="btn btn-default"  ng-click="editItem($event, $index)">
                    <ng-md-icon icon="edit" style="fill: black" size="18"></ng-md-icon> 
                  </button>
                  <button type="button" class="btn btn-default" ng-click="deleteItem($event, $index)">
                    <ng-md-icon icon="delete" style="fill: red" size="18"></ng-md-icon>  
                  </button>
                  <!--
                  <button type="button" class="btn btn-default"ng-click="changeItemStatus($event)">
                    <ng-md-icon icon="info" style="fill: black" size="18" > </ng-md-icon> 
                  </button>-->
                  </section>
                </div>
                <md-divider></md-divider>
              </div>
            </md-list-item>
          </md-list>
        </div>
      </div>
</div>