<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Bildirimler</div>
    <div class="modal-body">
        <h4 ng-if="bildirimYok == true">Bildiriminiz bulunmamaktadır.</h4>
        
        
            <div ng-if="bildirimYok == false">
                <div class="row">
                    <div class="col-md-7">
                        
                         <md-subheader>Yaklaşan Maddeler
                        </md-subheader>
                    </div>
                    <div class="col-md-5">
                        <md-subheader>Bitiş Tarihleri
                        </md-subheader>
                    </div>
                </div>
                <md-list-item ng-repeat="asd in notificationList">
                      <div class="row">
                         <!--<div class="col-md-1" ng-if="asd.done == true">
                          <span class="glyphicon glyphicon-ok"></span>
                        </div>
                        <div class="col-md-1" ng-if="asd.done == false">
                          <span class="glyphicon glyphicon-remove"></span>
                        </div>-->
                        <div class="col-md-5 text-center">
                          {{asd.name}}
                        </div>
                        <div class="col-md-7 text-center">
                         {{asd.due_date | date :  "d/M/yy hh:mm a" }}
                        </div>
                        <md-divider></md-divider>
                      </div>
                    </md-list-item>
                
            </div>
             <div>
       <button type="button" class="btn "  style="float: right;" ng-click="closeNotification()">
             Kapat
        </button>
    </div>
        </div>
</div>