<div class="modal-dialog">
    <div class="modal-header" style="font-size:25px; font-weight: bold;">Kullanıcı Ayarları</div>
    <div class="modal-body" style="margin: 5%;">
        
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <label>Kullanıcı Adı</label>
              <input ng-model="editUserName" type="text" required>
            </md-input-container>
        </md-content>
        
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <label>Mail Adresi</label>
              <input ng-model="editUserMail" type="text" required>
            </md-input-container>
        </md-content>
        
        <md-content class="md-no-momentum">
            <md-input-container class="md-icon-float md-block">
              <label>Şifre</label>
              <input ng-model="editUserPassword" type="password" required>
            </md-input-container>
        </md-content>
    
    <div>
       <button type="button" class="btn btn-primary btn"  style="float: right;" ng-click="saveEditedSettings()">
            <span class="glyphicon glyphicon-floppy-disk"></span> Kaydet
        </button>
       <button type="button" class="btn btn-danger btn"  style="float: right;" ng-click="abortSettings()">
            <span class="glyphicon glyphicon-remove"></span> İptal
        </button>
    </div>
</div>
</div>