<div ng-controlle="signUpController" style="margin:25%; margin-top:10%;border-style: solid; border-color: black; background-color: #e6ffff;border-width: 1px;">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)"style="margin:5%;" novalidate> 
            <div class="row">
            <md-input-container>
              <label>Kullanıcı Adı</label>
              <input type="text" ng-model="username" required>
            </md-input-container>
            </div>
            
            <div class="row">
            <md-input-container>
              <label>Email</label>
              <input type="email" ng-model="email" required>
            </md-input-container>
            </div>
            <div class="row">
            <md-input-container>
              <label>Şifre</label>
              <input type="password" ng-model="password" ng-minlength="6" ng-maxlength="20"required>
            </md-input-container>
            </div>
    
            <div class="row">
               <button type="button" class="btn btn-default btn" ng-click="signUpNewUser()">
                <span class="glyphicon glyphicon-log-in"></span> Kaydol
              </button>
            </div>
        </form>
</div>